{% extends 'base.html' %}
{% block title %}Создать резюме | Джуманджи{% endblock %}

{% block content %}
<style>
  body {background-color: #F6F2E6;}
</style>

<main class="container mt-3 pb-5">
  <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
    <div class="card-body px-3 pb-4">
      <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
      {% if messages %}
        {% for message in messages %}
        <p class="alert alert-info" role="alert">
          {{ message }}
        </p>
        {% endfor %}
      {% endif %}

      <form action="" method="post" class="" enctype="multipart/form-data">

        {% csrf_token %}
				{{ form }}
        <div class="form-group">
          <input type="submit" class="btn btn-info" value="Сохранить">
        </div>

        
        <!-- <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group pb-2">
              <label class="mb-2 text-dark" for="id_{{ form.name.name }}">Имя</label>
              <input class="form-control" type="text" value="{{ resume.name }}" id="id_{{ form.name.name }}">
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group pb-2">
              <label class="mb-2 text-dark" for="id_{{ form.surname.name }}">Фамилия</label>
              <input class="form-control" type="text" value="{{ resume.surname }}" id="id_{{ form.surname.name }}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group pb-2">
              <label class="mb-2 text-dark" for="id_{{ form.status.name }}">Готовность к работе</label>
              <select class="custom-select mr-sm-2" id="id_{{ form.status.name }}">
                {% for status in form.status %}
                <option value="{{ status }}"></option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group pb-2">
              <label class="mb-2 text-dark" for="id_{{ form.salary.name }}">Ожидаемое вознаграждение</label>
              <input class="form-control" type="text" value="{% if resume.salary %}{{ resume.salary }}{% else %}0{% endif %}" id="id_{{ form.salary.name }}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group pb-2">
              <label class="mb-2 text-dark" for="id_{{ form.specialty.name }}">Специализация</label>
              <select class="custom-select mr-sm-2" id="id_{{ form.specialty.name }}">
                {% for specialty in specialties %}
                <option value="{{ specialty.code }}" {% if vacancy.specialty == specialty %}selected{% endif %}>{{specialty.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group pb-2">
              <label class="mb-2 text-dark" for="id_{{ form.grade.name }}">Квалификация</label>
              <select class="custom-select mr-sm-2" id="id_{{ form.grade.name }}">
                {% for grade in form.grade %}
                <option value="{{ grade }}"></option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group pb-2">
          <label class="mb-2 text-dark" for="id_{{ form.grade.name }}">Образование</label>
          <textarea class="form-control text-uppercase" rows="4" id="id_{{ form.grade.name }}" style="color:#000;">{{ resume.education }}</textarea>
        </div>
        <div class="form-group pb-2">
          <label class="mb-2 text-dark" for="id_{{ form.grade.name }}">Опыт работы</label>
          <textarea class="form-control" rows="4" id="id_{{ form.grade.name }}" style="color:#000;">{{ resume.experience }}</textarea>
        </div>
        <div class="form-group pb-3">
          <label class="mb-2 text-dark" for="id_{{ form.portfolio.name }}">Ссылка на портфолио</label>
          <input class="form-control" type="text" placeholder="http://anylink.github.io" id="id_{{ form.portfolio.name }}">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-info" value="Сохранить">
        </div> -->

      </form>
    </div>
  </section>
</main>
{% endblock %}